 /* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px)
    //default
    h1
        font-size: 3.1em


    .Header
        height: auto
        padding: 20px 15px 80px 15px


        &__wrap
            width: 100%

            h1
                margin-top: 20px

        &__form
            flex-direction: column

        &__input
            width: 100%
            margin: 0

            input
                margin-bottom: 20px

        &__btn
            display: flex
            justify-content: center

        &__btn
            width: 100%

    .Nav
        padding-top: 20px

        &__wrap
            width: 100%


    .BlockGray
        height: auto
        padding: 80px 15px    

        &__wrap
            width: 100%
            text-align: center

        &__img
            top: 60px


    .Features

        &__wrap
            width: 100%
            padding: 80px 15px

        &__links
            width: 50%
            flex-direction: column

    .Highlights
        padding: 40px 15px
        
        &__wrap
            width: 100%   
        
        &__cards
            grid-template-columns: repeat(auto-fill, minmax(200px, 1fr))


        &__arrow
            bottom: -90px


    .Cta
        height: auto
        padding: 40px 15px

        &__wrap 
            width: 100%
            flex-direction: column

        &__title

            h1
                margin-bottom: 20px

    .Group3
        padding: 40px 15px

        &__wrap
            width: 100%

        &__img
            top: -100px

    .Footer

        &__wrap
            flex-direction: column

        &__field
            margin-bottom: 40px



/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px)
    //default
    h1
        font-size: 3.1em

    .Header
        height: auto
        padding: 0 15px

        &__wrap
            width: 100%
            margin-bottom: 80px

        &__input
            width: 100%
            margin-right: 20px

    .Nav
        padding: 0 15px

        &__wrap
            width: 100%

        

    .BlockGray
        height: auto
        padding: 80px 0

        &__img
            bottom: -80px
            
    .Highlights
        padding: 40px 15px

        &__cards
            grid-template-columns: repeat(auto-fill, minmax(200px, 1fr))

        &__arrow
            bottom: -90px

    .Features
        padding: 100px 15px 80px 15px


    .Cta
        padding: 80px 15px

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) 
    //default
    h1
        font-size: 3.1em

    .Header
        height: auto
        padding: 0 15px

        &__wrap
            width: 100%

        &__input
            margin-right: 20px


        .Nav
            width: 80%
            padding: 40px 0

            &__wrap
                width: 100%

            

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) 
    //default
    h1
        font-size: 4em

    .Header
        height: auto
        padding: 0 15px

        &__wrap
            width: 80%

    .Nav
        width: 80%

        &__hamb
            display: none

        
        
        &__hamb
            display: flex
    .Highlights

        &__wrap
            width: 80%;

        &__cards
            grid-template-columns: repeat(auto-fill, minmax(300px, 1fr))

    //Features
    .Features

        &__cards
            grid-template-columns: repeat(auto-fill, minmax(200px, 1fr))
            
            

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px)
    //default
        h1
            font-size: 4em

    .Header
        height: 915px

        &__wrap
            width: 80% 
            

        &__form
          

        &__input
            width: 300px
            margin-right: 20px

    .Nav
        padding-top: 80px

        &__links
            display: flex
        


    //Features
    .Features
        padding: 100px 0 80px 0

        &__cards
            grid-template-columns: repeat(auto-fill, minmax(400px, 1fr))

        &__wrap
            width: 80%
            padding: 80px 0

        &__links
            width: 45%

    //BlockGray
    .BlockGray
        height: 542px

        &__img
            top: 70px

    //Highlights

    .Highlights

        &__wrap
            80%

        &__arrow
            bottom: -90px

        &__cards   
            grid-template-columns: repeat(auto-fill, minmax(250px, 1fr))

    .Cta
        height: 890px

        &__wrap
            width: 80%

    .Group3

        &__wrap
            width: 80%

        &__img
            top: -400px

        

      